<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>

    <body class="hold-transition layout-top-nav">
        <div class="wrapper">

            <!-- Encabezado / Navbar -->
            <%- include('partials/header') %>

            <!-- Contenido principal -->
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-sm-12 text-center">
                                <h1 class="m-0 font-weight-bold">Nuestro Sitio
                                    Web</h1>
                                <p class="lead mt-2">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed non felis ut dui
                                    vulputate ullamcorper. Donec ac purus non
                                    neque iaculis faucibus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <%- include('partials/footer') %>

        </div>

        <!-- Scripts requeridos por AdminLTE -->
        <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
        <script
            src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/adminlte/js/adminlte.min.js"></script>
    </body>
</html>
