<header class="main-header navbar navbar-expand navbar-light bg-light border-bottom px-4">
  <a href="/"
    class="navbar-brand font-weight-bold">Intranet</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button onclick="toggleDarkMode()"
        class="btn btn-primary">
        Cambiar tema
      </button>
    </li>
  </ul>
</header>